@model TarkariWala.Models.Supplier

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="wrapper">
        <h4>Supplier</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.SuppliersName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SuppliersName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SuppliersName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </div>
        </div>

    </div>

  }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
<style>
   .wrapper{
       padding:30px 30px;
       border-radius:5px;
       margin-left:20px;
       margin-right:20px;
       background-color:cadetblue;
   }
</style>